@import "pokemon-card.css";
@import "search.css";

* {
	--green: #7dce94;
	--black: #3d3d3f;
	--cream: #f6f5f3;
	--white: #f9f8fd;

	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding-top: 65px;
	padding-bottom: 15px;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
	background-color: #79caf9;
	background: url("../img/background.jpg") center repeat-x;
}

header {
	flex: 0 0 auto;
	display: flex;
	align-items: flex-end;
}

main {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	flex: 0 0 auto;
	color: var(--black);
	font-size: 9.5px;
	text-align: center;
}

footer p {
	margin: 4px;
}

footer a {
	color: var(--black);
}

.card {
	padding: 20px 25px;
	background-color: rgba(255, 255, 255, 0.65);
	backdrop-filter: blur(30px) saturate(125%);
	box-shadow: 0px 4px 32px rgba(61, 61, 63, 0.2);
	color: var(--black);
	width: 88vw;
	max-width: 390px;
	border-radius: 7px;
	transition: all 0.5s;
}

.card:hover {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 4px 32px rgba(61, 61, 63, 0.45);
}

@media screen and (max-height: 600px) {
	html {
		height: auto;
	}

	body {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	main {
		margin-top: 20px;
		margin-bottom: 20px;
  }
}


@media screen and (min-width: 320px) and (max-width: 850px) and (orientation: landscape) {
	body {
		padding-top: 15px;
		padding-bottom: 15px;
		flex-flow: row wrap;
	}

	main {
		margin-top: 20px;
		margin-bottom: 20px;
  }
}

/* @media screen and (orientation: landscape) {
	html {
	  height: auto;
	}
 } */

/* @media screen and (min-height: 1080px) {
	body {
		background: url("../img/background.jpg") bottom repeat-x;
		background-color: #79caf9;
	}
}

@media screen and (max-height: 750px) {
	body {
		height: 100%;
	}

	header {
		margin-top: 25px;
	}

	main {
		margin-top: 30px;
		margin-bottom: 30px;
	}
} */
