@import "pokemon-card.css";
@import "search.css";
@import "card.css";
@import "fourohfour.css";

* {
	--green: #7dce94;
	--black: #3d3d3f;
	--cream: #f6f5f3;
	--white: #f9f8fd;

	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding-top: 65px;
	padding-bottom: 15px;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
	background: url("../img/background.jpg") center repeat-x;
	background-color: #79caf9;
}

header {
	flex: 0 0 auto;
	display: flex;
	align-items: flex-end;
}

main {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	flex: 0 0 auto;
	color: var(--black);
	font-size: 9.5px;
	text-align: center;
}

footer p {
	margin: 4px;
}

footer a {
	color: var(--black);
}

.blink {
	animation: blinking 0.3s alternate 4;
}

@keyframes blinking {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.7;
	}
}

.flex-center {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

@media screen and (max-height: 600px) {
	html {
		height: auto;
	}

	body {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	main {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 320px) and (max-width: 850px) and (orientation: landscape) {
	body {
		padding-top: 15px;
		padding-bottom: 15px;
		flex-flow: row wrap;
	}

	main {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media screen and (min-height: 1200px) {
	body {
		background: url("../img/background.jpg") bottom repeat-x;
		background-color: #79caf9;
	}
}

@media screen and (min-width: 2500px) {
	#header-content {
		transform: scale(1.5);
	}
	#main-content {
		transform: scale(1.5);
	}
	#footer-content {
		transform: scale(1.5);
	}
}
